[submodule ".vim/pack/language-support/start/vimtex"]
	path = .vim/pack/language-support/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule ".vim/pack/colorschemes/iceberg.vim"]
	path = .vim/pack/colorschemes/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim
[submodule ".vim/pack/packages/start/vim-surround"]
	path = .vim/pack/packages/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/packages/start/vim-fugitive"]
	path = .vim/pack/packages/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/packages/start/airline"]
	path = .vim/pack/packages/start/airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/language-support/start/coc.nvim"]
	path = .vim/pack/language-support/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule ".vim/pack/packages/start/battery.vim"]
	path = .vim/pack/packages/start/battery.vim
	url = https://github.com/lambdalisue/battery.vim
[submodule ".vim/pack/colorschemes/start/iceberg.vim"]
	path = .vim/pack/colorschemes/start/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim/
[submodule ".vim/pack/packages/start/fzf.vim"]
	path = .vim/pack/packages/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/packages/start/goyo.vim"]
	path = .vim/pack/packages/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule ".vim/pack/packages/start/limelight.vim"]
	path = .vim/pack/packages/start/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule ".vim/pack/packages/start/vim-css-color"]
	path = .vim/pack/packages/start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule ".vim/pack/language-support/start/kotlin-vim"]
	path = .vim/pack/language-support/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule ".vim/pack/language-support/start/gap-vim"]
	path = .vim/pack/language-support/start/gap-vim
	url = https://github.com/wes1138/gap-vim
[submodule ".vim/pack/language-support/start/vim-macaulay2"]
	path = .vim/pack/language-support/start/vim-macaulay2
	url = https://github.com/8d1h/vim-macaulay2
[submodule ".vim/pack/packages/start/ultisnips"]
	path = .vim/pack/packages/start/ultisnips
	url = https://github.com/SirVer/ultisnips
