[submodule ".vim/pack/language-support/start/vimtex"]
	path = .vim/pack/language-support/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule ".vim/pack/colorschemes/iceberg.vim"]
	path = .vim/pack/colorschemes/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim
[submodule ".vim/pack/packages/start/vim-surround"]
	path = .vim/pack/packages/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/packages/start/airline"]
	path = .vim/pack/packages/start/airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/language-support/start/coc.nvim"]
	path = .vim/pack/language-support/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule ".vim/pack/colorschemes/start/iceberg.vim"]
	path = .vim/pack/colorschemes/start/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim/
[submodule ".vim/pack/packages/start/goyo.vim"]
	path = .vim/pack/packages/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule ".vim/pack/packages/start/limelight.vim"]
	path = .vim/pack/packages/start/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule ".vim/pack/packages/start/vim-css-color"]
	path = .vim/pack/packages/start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule ".vim/pack/colorschemes/start/catppuccin.vim"]
	path = .vim/pack/colorschemes/start/catppuccin.vim
	url = https://github.com/catppuccin/vim
[submodule ".vim/pack/packages/start/vim-devicons"]
	path = .vim/pack/packages/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule ".vim/pack/packages/start/vim-symlink"]
	path = .vim/pack/packages/start/vim-symlink
	url = https://github.com/aymericbeaumet/vim-symlink
[submodule ".vim/pack/packages/start/vim-fugitive"]
	path = .vim/pack/packages/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/packages/start/ctrlp.vim"]
	path = .vim/pack/packages/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/pack/packages/start/reply.vim"]
	path = .vim/pack/packages/start/reply.vim
	url = https://github.com/rhysd/reply.vim
[submodule ".vim/pack/packages/start/vim-smoothie"]
	path = .vim/pack/packages/start/vim-smoothie
	url = https://github.com/psliwka/vim-smoothie
