# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Catppuccin Mocha scheme byhttps://github.com/catppuccin/catppuccin

background_color           #1e1e2e

text_highlight_color       #f9e2af
visual_mark_color          #7f849c

search_highlight_color     #f9e2af
link_highlight_color       #89b4fa
synctex_highlight_color    #a6e3a1

highlight_color_a          #f9e2af
highlight_color_b          #a6e3a1
highlight_color_c          #89dceb
highlight_color_d          #eba0ac
highlight_color_e          #cba6f7
highlight_color_f          #f38ba8
highlight_color_g          #f9e2af


custom_background_color    #1e1e2e
custom_text_color          #cdd6f4

ui_text_color              #cdd6f4
ui_background_color        #313244
ui_selected_text_color     #cdd6f4
ui_selected_background_color #585b70

# custom_background_color #1e1e2e
# custom_text_color #f5e0dc
#
# search_highlight_color #f9e2af
# status_bar_color #1e1e2e
# status_bar_text_color #f5e0dc
# ui_text_color #45475a
# ui_selected_text_color #f5e0dc
# ui_background_color #181825
# ui_selected_background_color #181825
# background_color #181825
# visual_mark_color 0.27058825 0.2784314 0.3529412 0.2
# text_highlight_color #45475a
# link_highlight_color #89b4fa
# synctex_highlight_color #f38ba8
