custom_background_color #eff1f5
custom_text_color #4c4f69

page_separator_color #bcc0cc
search_highlight_color #df8e1d
status_bar_color #eff1f5
status_bar_text_color #dc8a78
ui_text_color #bcc0cc
ui_selected_text_color #dc8a78
ui_background_color #e6e9ef
ui_selected_background_color #e6e9ef
background_color #bcc0cc
visual_mark_color 0.7372549 0.7529412 0.8 0.2
text_highlight_color #bcc0cc
link_highlight_color #1e66f5
synctex_highlight_color #d20f39
